{% extends "users/base.html"%}
{% block content %}
        
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
            <a class="mr-2" href="#">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_created }}</small>
            {% if object.author == user or user.is_superuser %}
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'blog-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'blog-delete' object.id %}">Delete</a>
            {% endif %}
            <form action="{% url 'blog-likeunlike' object.id %}" method="POST">
                {% csrf_token %}
                {% if is_liked  %}
                    <button type="submit" class="btn btn-danger btn-sm" name="btn">Dislike</button>
                {% else  %}
                    <button type="submit" class="btn btn-primary btn-sm" name="btn">Like</button>
                    
                {% endif %}
            </form>
            <a href="{% url 'blog-comment-create' object.id %}"><button type="button" class="btn btn-dark">New Comment</button></a>
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
            <div class="article-metadata">
            </div>
            <div class="article-metadata">
                <h3>Comments:</h3>
                {% for comment in comments %}
                    {% if object.author == user or user.is_superuser %}
                        <a   href="{% url 'blog-comment-update' comment.id %}"><button type="button" class="btn btn-dark btn-sm" style="font-size: 10px;">Update Comment</button></a>
                        <a   href="{% url 'blog-comment-delete' comment.id %}"><button type="button" class="btn btn-danger btn-sm" style="font-size: 10px;">Delete Comment</button></a>
                    {% endif %}
                    Author:<small class="text-muted">{{ comment.author }}</small>
                    <p><a class="mr-2" >{{ comment.text }}</a></p>
                    
                {% endfor %} 

 
            </div>
            <div class="article-metadata">
                <h3>Like Number:</h3>
                <h4 class="article-content">{{ likes }}</h4>
                
                
            </div>
        </div>
    </article>

{% endblock content %}


      
